
.div{
  display: flex;
  flex-wrap: wrap;
}
.container{
  width: 180px;
  padding: 2px;
  margin: 2px;
  border-color: brown;
  background-color: bisque;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.btn > button {
  padding: 5px;
  margin: 2px;
}
.hover{
background-color: brown;
color: wheat;
}
